<div class='user-show-wrapper'>
  <div class='container d-flex justify-content-center px-0'>

    <div class="user-details-left">
      <div>
        <div class="user-picture"></div>
      </div>
      <div>
        <div class="user-profile">
          ユーザーのプロフィール
        </div>
        <div class='user-profile-box'>
          飼育数：5 匹
        </div>
      </div>
    </div>

    <div class="user-detail-right">
      <div class="dog-detail-box">
        <div class='form-text-box'>
          <label class="form-text">飼犬の写真</label>
          <div class="form-text">画像</div>
        </div>
        <div class='form-text-box'>
          <label class="form-text">飼犬の犬種</label>
          <div class="form-text">トイプードル</div>
        </div>
        <div class='form-text-box'>
          <label class="form-text">飼犬の誕生日</label>
          <div class="form-text">2018/6/24</div>
        </div>
        <div class='form-text-box'>
          <label class="form-text">飼犬の年齢</label>
          <div class="form-text">3歳</div>
        </div>
        <div class='form-text-box'>
          <label class="form-text">飼犬のプロフィール</label>
          <div class="form-text">犬です</div>
        </div>
      </div>
    </div>

  </div>
</div>