<div class='dog-edit-form-wrap background-box'>
  <div class='form-wrap-container'>
    <div class='form-header'>
      <h2 class='form-header-text'>
        ワンちゃん情報編集
      </h2>
    </div>
    <%= render partial: "form", locals: { dog_profile: @dog_profile } %>
  </div>
</div>