<div class='dog-profile-form-wrap'>
  <div class='form-wrap-container'>
    <div class='form-header'>
      <h2 class='form-header-text'>
        飼犬情報登録
      </h2>
    </div>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= render partial: "form", locals: { dog_profile: @dog_profile } %>
  </div>
</div>