<div class='dog-profile-new-form-wrap background-box'>
  <div class='dog-profile-new-form-wrap-container'>
    <div class='dog-profile-new-form-header'>
      <h3 class='dog-profile-new-form-header-text'>
        飼犬情報登録
      </h3>
    </div>
    <%= render partial: "form", locals: { dog_profile: @dog_profile } %>
  </div>
</div>