<div room-index-wrapper>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%; height: 100vh;">
    <div class="d-flex align-items-center text-white text-decoration-none mx-auto">
      <span class="fs-4">ルーム一覧</span>
    </div>
    <hr>
    <% rooms.each do |room| %>
      <ul class="nav nav-pills flex-column mb-auto mx-auto">
        <li class="nav-item">
          <%= link_to room.name, room_messages_path(room.id), class: "nav-link text-white"%>
        </li>
      </ul>
    <% end %>
    <hr>
  </div>
</div>