<div class="wrapper-show background-box">
  <div class="container">
    <%=form_with url: add_user_room_path, method: :post, local: true do |f|%>
    <div class='user_add-form__field'>
      <div class='user_add-form__field--title'>
        <label class='user_add-form__label' for='user_add_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='user_add-form__field--input'>
        <select name="room[user_id]" class="form-select">
          <option value="">ルームへ追加するユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='user_add-form-btn__field'>
      <%= f.submit "追加する", class: 'user_add-form__action-btn btn btn-warning'%>
    </div>
    </div>
  <% end %>
  </div>
</div>