/* タイトル*/
.anim-box {
  animation: fadeIn 4s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* 投稿内容*/
.u-fade-type-up{
  transform: translateY(50px);
  opacity: 0;
}

/* トリガー発火でis-activeを付与 */
.u-fade-type-up.is-active{
  transition: .6s;
  transform: translateY(0);
  opacity: 1;
}