.form-wrap{
  background-image: url("background_image.jpg");
  background-size: cover;
}

.form-group-session{
  background-color: white;
  width: 400px;
  margin: auto;
  padding: 20px 0 20px 0;
  border-radius: 10px;
}

span{
  background-color: #FFD5EC;
  border-radius: 5px;
}

#email,
#password{
  width: 350px;
  margin: auto;
  margin-bottom: 20px;
}

.login-btn {
text-align: center;
margin: 30px 0 137px 0;
}

.login-flash-message {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

.user-manegiment-root-link{
  margin-top: 20px;
}