.form-wrap-login{
  background-image: url("background_image.jpg");
  background-size: cover;
  width: 100%;
}

.form-header-login {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text-login {
  line-height: 100px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color:  #ff6347;
}

.form-group-session{
  background-color: white;
  width: 450px;
  margin: auto;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  border: 1px solid;
}

.form-group-session-box .form-text-wrap{
  margin-left: 20px;
}

.form-group-session span{
  background-color: #FFD5EC;
  border-radius: 5px;
}

.form-group-session #email,
.form-group-session #password{
  width: 350px;
  margin: auto;
  margin-bottom: 20px;
}

.login-btn {
text-align: center;
margin: auto;
padding: 20px 0 155px 0;
}

.login-flash-message {
  margin-bottom: 20px;
  color: red;
  text-align: center;
}

.user-login-root-link{
  margin-top: 50px;
}