.form-wrap-registration {
  background-image: url("background_image.jpg");
  background-size: cover;
  width: 100%;
}

.form-header-registration {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text-registration {
  line-height: 100px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color:  #ff6347;
}

.form-group-registration {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid;
}

.form-group-registration-box{
  margin-bottom: 20px;
}

.form-group-registration span{
  background-color: #FFD5EC;
  border-radius: 5px;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.registratoin-btn{
  width: 100px;
  margin: 20px auto;
  text-align: center;
}

.user-registration-root-link{
  text-align: center;
  padding-bottom: 30px;
}
.error-alert{
  color: red;
}