/* 一覧画面 */
.main-top{
  width: 100%;
  height: 400px;
  background-image: url("top.jpg");
  background-position: 30% 30%;
  background-size: cover;
}

.main-top .container {
  width: 100%;
  height: 100%;  
}

.main-top .content {
  width: 50%;
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

section p {
  font-size: 20px;
  text-decoration: underline #CCFFCC;
}

.album{
  background-color: #EEEEEE;
}

.index-picture{
  width: 100%;
  background-color: white;
}

.card-body{
  height: 450px;
}

.tilte-line{
  width: 100%;
  border-bottom: 1px solid
}



/* 新規投稿画面 */
.new-img{
  width: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.post-contents{
  height: 100%;
  padding: 66px 0;
  text-align: center;
  background-image: url("background_new.jpg");
  background-position: center;
  background-size: cover;
}

.post-contents .container {
  max-width: 600px;
  height: 100%;
  background-color: #FFFFEE;
  padding: 20px;
  border-radius: 10px;
}

.post-contents .field{
  margin-bottom: 20px;
  font-weight: 600;
}

textarea.form-control {
  max-height: 250px;
}

.field span{
  background-color: #FFD5EC;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

.new-form {
  margin-top: 30px;
}

.post-contents .return-top{
  color: black;
}


/* 詳細画面 */
.show-content {
  text-align: center;
  background-image: url("background_show.jpg");
  padding: 10px 0;
}

.show-content .container{
  background-color: #FFFFEE;
  width: 750px;
  padding-top: 20px;
  border-radius: 10px;
}

.show-box-title,
.show-box-content,
.show-box-category,
.show-box-nickname,
.show-box-date,
.show-btn .btn{
  margin: 15px 0;
}

.show-box-img {
  height: 400px;
  width: 700px;
  border-radius: 20px;
  object-fit: contain;
  margin-bottom: 20px;
}

.show-box-title{
  width: 100%;
  text-decoration: underline;
}

.show-box-content{
  width: 500px;
  margin: auto;
}


/* 編集画面 */
.edit-contents{
  height: 100%;
  text-align: center;
  padding: 66px 0;
  background-image: url("background_edit.jpg");
  background-position: center;
  background-size: cover;
}

.edit-contents .container {
  width: 650px;
  height: 100%;
  background-color: #FFFFEE;
  padding: 20px;
  border-radius: 10px;
}

.edit-contents .field{
  margin-bottom: 20px;
  font-weight: 600;
}

.edit-contents .return-top{
  color: black;
}