/* 一覧画面 */
.main-top{
  width: 100%;
  height: 400px;
  background-image: url("top.jpg");
  background-position: center;
  background-size: cover;
}

.main-top .container {
  width: 100%;
  height: 100%;  
}

.main-top .content {
  width: 50%;
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

section p,
        h2{
  font-size: 20px;
  text-decoration: underline #CCFFCC;
}

.album{
  background-color: #EEEEEE;
}

.index-picture{
  width: 100%;
  background-color: white;
}

.card-body{
  height: 450px;
}

.tilte-line{
  width: 100%;
  border-bottom: 1px solid
}



/* 新規投稿画面 */
.new-img{
  width: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.post-contents{
  height: 100%;
  text-align: center;
}

.post-contents h1{
  margin-top: 40px;
}

.post-contents .container {
  max-width: 600px;
  height: 100%;
  padding-bottom: 45px;
}

.post-contents .field{
  margin-bottom: 20px;
}

textarea.form-control {
  max-height: 250px;
}

.field span{
  background-color: #FFD5EC;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

.new-form {
  margin-top: 30px;
}