/* 一覧画面 */
.main-top{
  width: 100%;
  height: 400px;
  background-image: url("top.jpg");
  background-position-y: 30%;
  background-size: cover;
}

.main-top .container {
  width: 100%;
  height: 100%;  
}

.main-top .content {
  width: 50%;
  height: 100px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

section p {
  font-size: 20px;
  text-decoration: underline #CCFFCC;
}

.album{
  background-color: #EEEEEE;
}

.index-picture{
  width: 100%;
  background-color: white;
}

.card-body{
  height: 450px;
}

.tilte-line{
  width: 100%;
  border-bottom: 1px solid
}

.hidden{
  display: none;
}

.chat-room-form__field{
  width: 350px;
  margin: auto;
}



/* 新規投稿画面 */
.new-img{
  width: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.post-contents{
  height: 100%;
  padding: 66px 0;
  text-align: center;
  background-image: url("background_image.jpg");
  background-size: cover;
}

.post-contents .container {
  max-width: 600px;
  height: 100%;
  background-color: #FFFFEE;
  padding: 20px;
  border-radius: 10px;
}

.post-contents .field{
  margin-bottom: 20px;
  font-weight: 600;
}

textarea.form-control {
  max-height: 250px;
}

.field span{
  background-color: #FFD5EC;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

.new-form {
  margin-top: 30px;
}

.post-contents .return-top{
  color: black;
}


/* 詳細画面 */
.show-content {
  text-align: center;
  background-image: url("background_show.jpg");
  padding: 10px 0;
}

.show-content .container{
  background-color: #FFFFEE;
  width: 750px;
  padding-top: 20px;
  border-radius: 10px;
}

.show-box-title,
.show-box-content,
.show-box-category,
.show-box-nickname,
.show-box-date,
.show-btn .btn{
  margin: 15px 0;
}

.show-box-img {
  height: 400px;
  width: 700px;
  border-radius: 20px;
  object-fit: contain;
  margin-bottom: 20px;
}

.show-box-title{
  width: 100%;
  text-decoration: underline;
}

.show-box-content{
  width: 500px;
  margin: auto;
}


/* 編集画面 */
.edit-contents{
  height: 100%;
  text-align: center;
  padding: 66px 0;
  background-image: url("background_edit.jpg");
  background-position: center;
  background-size: cover;
}

.edit-contents .container {
  width: 650px;
  height: 100%;
  background-color: #FFFFEE;
  padding: 20px;
  border-radius: 10px;
}

.edit-contents .field{
  margin-bottom: 20px;
  font-weight: 600;
}

.edit-contents .return-top{
  color: black;
}


/* ルーム一覧画面 */
.room-index-wrapper{
  background-color: white;
}

.room-index-wrapper .container{
  width: 500px;
}

.room-index-wrapper .nav-item{
  font-size: 23px;
}


/* メッセージ表示画面 */
::-webkit-scrollbar {
  height: 0;
  display: none;
}

.messages{
  overflow: scroll;
  height: 100%;
}

.message-input{
  margin-bottom: 20px;
  background-color: #DDDDDD;
  padding: 10px 45px;
  width: 100%;
}

.form {
  display: flex;
}

.form-message {
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border-radius: 10px;
}

.message-form-submit {
  border: none;
  color: black;
  background-color: #FFFFCC;
  border-radius: 10px;
  font-size: 16px;
  height: 40px;
  padding: 0 20px;
}

.message-form-image {
  font-size: 12px;
  height: 40px;
  width: 90px;
  margin: 5px 10px;
  text-align: center;
}

.input-group-form{
  border-radius: 10px;
  height: 40px;
  width: 1070px;
}

.upper-message{
  display: flex;
}

.lower-message{
  margin-bottom: 30px;
}

.message-content{
  margin-bottom: 10px;
  text-align: center;
}


.message-user{
  margin-right: 10px;
  font-weight: 600;
}

.dropdown{
  margin-right: 15px;
}

.scroll_bar{
  overflow: scroll;
}

ul.nav li.nav-item a.nav-link {
  font-size: 16px; 
}


/* ユーザー追加画面 */
.wrapper-show .container{
  height: 635px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.user_add-form__field{
 text-align: center;
 width: 550px;
 margin: auto;
}

.user_add-form__action-btn{
  margin-top: 20px;
}

.user_add-form__field--title{
  font-size: 30px;
  margin-bottom: 20px;
}


/* ユーザー詳細画面 */
.user-show-wrapper{
  padding-top: 30px;
  background-image: url("background_image.jpg");
  background-size: cover;
}

.user-details-left{
  height: 100%;
  width: 60%;
  padding: 20px;
  margin: 0 30px 230px 0;
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
}

.user-picture-box{
width: 200px;
height: 200px;
border-radius: 20px;
margin: auto;
}

.user-edit-link{
  text-align: center;
  margin-bottom: 20px;
}

.user-profile,
.user-profile-box,
.user_name {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.user-detail-right{
  height: 100%;
  width: 500px;
  font-size: 18px;
  margin: 0 100px 0 50px;
}

.dog-detail-box{
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.dog-profile-edit-link{
  font-size: 15px;
  margin-top: 10px;
}

.dog-picture-box{
  height: 300px;
  width: 450px;
}


/* ユーザー情報編集画面 */
.form-wrap{
  width: 100%;
  padding: 20px 0;
}

.form-wrap-container{
  margin: auto;
  padding-bottom: 20px;
  width: 750px;
}

.user_icon{
  margin: 0 190px;
}

.register-btn{
  width: 100px;
}


/* 飼犬情報登録画面 */
.dog-profile-form-wrap{
  padding: 52px 0;
}

.dog-profile-edit-form{
  margin-bottom: 20px;
}

.dog_image{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


/* 飼犬情報編集画面 */
.dog-edit-form-wrap{
  padding: 52px 0;
}

.flash{
  color: red;
  text-align: center;
}